@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: rgba(255, 255, 255, 0.2); }

h1 {
  color: #6f4d87;
  text-align: center;
  padding: 15px;
  margin-top: 20px; }

header img {
  width: 100px;
  margin-left: 20px; }

header .navbar a:hover {
  background-color: #1f8a9a;
  color: white;
  border-radius: 10px; }

header .navbar .nav-link {
  font-size: 20px;
  font-weight: 600;
  color: #660066; }

header .navbar .dropdown-toggle {
  font-size: 20px;
  font-weight: 600;
  color: #660066; }

header .navbar .navbar-nav .nav-link.active {
  color: #660066; }
  header .navbar .navbar-nav .nav-link.active:hover {
    color: #fff; }

header .navbar .d-flex {
  margin-right: 50px; }
  header .navbar .d-flex .btn {
    width: 150px;
    height: 35px;
    margin-top: 3px;
    border: solid 1px #03214e;
    background-color: #1f8a9a;
    color: #fff; }
    header .navbar .d-flex .btn:hover {
      background-color: #660066;
      color: #fff; }

.mainHome {
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainHome .container {
    height: 60vh;
    margin-top: 100px;
    margin-bottom: 100px; }
    .mainHome .container .row {
      display: flex; }
      .mainHome .container .row .dog img {
        width: 800px;
        margin: auto;
        margin-left: 0;
        margin-right: auto;
        display: block;
        filter: drop-shadow(0 0 25px #c8ced4); }
      .mainHome .container .row .slogan h1 {
        font-size: 5rem;
        color: #6f4d87;
        margin-top: 50px;
        text-align: center;
        animation-duration: 3.5s;
        animation-name: slidein; }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

main .section {
  padding: 5px; }
  main .section .nosotros {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 780px; }
    main .section .nosotros .descripcion {
      display: flex;
      flex-direction: column;
      width: 700px; }
      main .section .nosotros .descripcion p {
        margin-top: 10px;
        color: #1f8a9a;
        text-align: justify;
        line-height: 1.5; }
    main .section .nosotros .img-exp {
      width: 500px;
      height: 500px;
      margin-top: 50px;
      margin-right: 100px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 15px 5px 5px rgba(255, 187, 1, 0.301); }

main .services {
  width: 100%;
  height: 75vh; }
  main .services h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }
  main .services .img-servicios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    main .services .img-servicios .servicios h3 a {
      color: #1f8a9a;
      font-size: 2.5rem;
      text-shadow: 2px 5px #c8ced4;
      text-decoration: none;
      display: block;
      padding: 20px;
      margin: 25px;
      text-align: center; }
      main .services .img-servicios .servicios h3 a:hover {
        border-radius: 10px;
        background-color: #6f4d87;
        color: #ffffff;
        text-shadow: none; }
    main .services .img-servicios img {
      width: 350px;
      height: 350px;
      object-fit: cover;
      border-radius: 50%; }
      main .services .img-servicios img:hover {
        filter: drop-shadow(0 0 10px #1f8a9a); }

main .servicio-baño {
  width: 100%;
  padding: 10px; }
  main .servicio-baño h1 {
    background-color: #1f8a9a9b;
    width: 100%; }
  main .servicio-baño h3 {
    padding-top: 15px;
    text-align: center;
    color: #660066; }
  main .servicio-baño .baño_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    main .servicio-baño .baño_info .servicios img {
      width: 700px;
      margin: auto; }
    main .servicio-baño .baño_info .information {
      width: 600px; }
      main .servicio-baño .baño_info .information p {
        font-size: 2rem;
        line-height: 2;
        text-align: center; }

main .servicio-corte {
  width: 100%;
  padding: 10px; }
  main .servicio-corte h1 {
    background-color: #1f8a9a9b;
    width: 100%; }
  main .servicio-corte h3 {
    padding-top: 15px;
    text-align: center;
    color: #660066; }
  main .servicio-corte .corte_info {
    margin-top: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    main .servicio-corte .corte_info .servicios img {
      width: 600px;
      height: 600px;
      margin: auto;
      border-radius: 50%;
      object-fit: cover; }
    main .servicio-corte .corte_info .information {
      width: 600px; }
      main .servicio-corte .corte_info .information p {
        font-size: 2rem;
        line-height: 2;
        text-align: center; }

main .servicio-pension {
  width: 100%;
  padding: 10px; }
  main .servicio-pension h1 {
    background-color: #1f8a9a9b;
    width: 100%; }
  main .servicio-pension h3 {
    padding-top: 15px;
    text-align: center;
    color: #660066; }
  main .servicio-pension .pension_info {
    margin-top: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    main .servicio-pension .pension_info .servicios img {
      width: 600px;
      height: 600px;
      margin: auto;
      border-radius: 50%;
      object-fit: cover; }
    main .servicio-pension .pension_info .information {
      width: 600px; }
      main .servicio-pension .pension_info .information p {
        font-size: 2rem;
        line-height: 2;
        text-align: center; }

.container .form {
  width: 90%;
  margin: 25px auto;
  padding: 50px;
  justify-content: flex-end;
  background: white;
  background: linear-gradient(0deg, white 0%, rgba(63, 119, 117, 0.894) 36%, rgba(11, 164, 195, 0.613) 100%);
  border-radius: 25px; }
  .container .form form input {
    margin: 2px;
    padding: 5px; }
  .container .form form label {
    margin: 2px;
    padding: 5px;
    text-align: left;
    color: #fff;
    font-weight: 600; }
  .container .form .btn-primary {
    background-color: #660066;
    width: 100%;
    margin-top: 25px; }

.container .contacto {
  grid-area: contacto;
  display: block;
  text-align: center; }
  .container .contacto .cita {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px; }
    .container .contacto .cita h2 {
      font-size: 3.5rem;
      font-weight: 400;
      color: #660066; }
    .container .contacto .cita img {
      width: 150px; }
  .container .contacto .ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 30px; }
    .container .contacto .ubicacion img {
      width: 400px; }
    .container .contacto .ubicacion h2 {
      font-size: 3rem;
      font-weight: 650;
      color: red; }

@media (max-width: 1200px) {
  .mainHome .container .row .dog {
    display: flex;
    justify-content: center; }
    .mainHome .container .row .dog img {
      width: 700px;
      margin: auto;
      margin-left: -100px; }
  .mainHome .container .row .slogan h1 {
    font-size: 3rem;
    color: #6f4d87; } }

@media (max-width: 1024px) {
  .mainHome {
    display: flex;
    width: 100%;
    height: auto; }
    .mainHome .container .row .dog {
      display: flex;
      justify-content: center; }
      .mainHome .container .row .dog img {
        width: 650px;
        margin: auto;
        margin-left: -100px; }
    .mainHome .container .row .slogan h1 {
      font-size: 2.5rem;
      color: #083579; } }

@media (max-width: 760px) {
  .mainHome {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .mainHome .container .row {
      display: flex;
      justify-content: center; }
      .mainHome .container .row .dog img {
        width: 600px;
        margin: auto;
        margin-left: -80px; }
      .mainHome .container .row .slogan h1 {
        font-size: 2.5rem;
        color: #6f4d87; } }

@media (max-width: 480px) {
  .mainHome {
    display: flex;
    width: 100%;
    height: auto; }
    .mainHome .container .row .dog img {
      width: 450px;
      margin: auto;
      margin-left: -60px; }
    .mainHome .container .row .slogan h1 {
      font-size: 2.3rem;
      color: #083579; } }

@media (max-width: 1200px) {
  .mainAbout {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .mainAbout .section .nosotros {
      padding: 30px;
      height: 650px;
      gap: 20px; }
      .mainAbout .section .nosotros .descripcion {
        width: 100%;
        padding: 10px; }
        .mainAbout .section .nosotros .descripcion h3 {
          margin-bottom: 15px; }
        .mainAbout .section .nosotros .descripcion p {
          margin-top: 10px;
          padding: 10px;
          font-size: 1rem; }
      .mainAbout .section .nosotros .img-exp {
        width: 350px;
        height: 350px;
        margin: auto;
        padding: 5px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 15px 5px 5px rgba(22, 77, 113, 0.301); } }

@media (max-width: 760px) {
  .mainAbout {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .mainAbout .section .nosotros {
      padding: 30px;
      height: auto;
      display: flex;
      flex-direction: column; }
      .mainAbout .section .nosotros .descripcion {
        width: 100%; }
        .mainAbout .section .nosotros .descripcion h3 {
          margin-bottom: 15px; }
        .mainAbout .section .nosotros .descripcion p {
          margin-top: 10px;
          font-size: 1rem; }
      .mainAbout .section .nosotros .img-exp {
        width: 350px;
        height: 350px;
        margin: auto;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 15px 5px 5px rgba(22, 77, 113, 0.301); } }

@media (max-width: 480px) {
  .mainAbout .section .nosotros {
    padding: 30px;
    height: auto; }
    .mainAbout .section .nosotros .descripcion {
      width: 100%; }
      .mainAbout .section .nosotros .descripcion h1 {
        font-size: 2.5rem; }
      .mainAbout .section .nosotros .descripcion h3 {
        margin-bottom: 15px; }
      .mainAbout .section .nosotros .descripcion p {
        margin-top: 10px;
        font-size: 1rem; }
    .mainAbout .section .nosotros .img-exp {
      width: 280px;
      height: 280px;
      margin: auto;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 15px 5px 5px rgba(22, 77, 113, 0.301); } }

@media (max-width: 1200px) {
  main .services {
    height: auto; }
    main .services .img-servicios img {
      width: 300px;
      height: 300px; } }

@media (max-width: 480px) {
  main .services .img-servicios img {
    width: 250px;
    height: 250px; } }

@media (max-width: 1200px) {
  main .servicio-baño .baño_info .servicios img {
    width: 400px;
    border-radius: 50%; }
  main .servicio-baño .baño_info .information {
    width: 400px; }
    main .servicio-baño .baño_info .information p {
      font-size: 1.5rem;
      margin-top: 20px; } }

@media (max-width: 760px) {
  main .servicio-baño .baño_info {
    display: flex;
    flex-direction: column; }
    main .servicio-baño .baño_info .information {
      width: 90%; }
      main .servicio-baño .baño_info .information p {
        font-size: 1.2rem;
        margin-top: 20px; } }

@media (max-width: 1200px) {
  main .servicio-corte .corte_info .servicios img {
    width: 400px;
    height: 400px;
    border-radius: 50%; }
  main .servicio-corte .corte_info .information {
    width: 400px; }
    main .servicio-corte .corte_info .information p {
      font-size: 1.5rem;
      margin-top: 20px; } }

@media (max-width: 760px) {
  main .servicio-corte .corte_info {
    display: flex;
    flex-direction: column; }
    main .servicio-corte .corte_info .information {
      width: 90%; }
      main .servicio-corte .corte_info .information p {
        font-size: 1.2rem;
        margin-top: 20px; } }

@media (max-width: 480px) {
  main .servicio-corte .corte_info .servicios img {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover; } }

@media (max-width: 1200px) {
  main .servicio-pension .pension_info .servicios img {
    width: 400px;
    height: 400px;
    border-radius: 50%; }
  main .servicio-pension .pension_info .information {
    width: 400px; }
    main .servicio-pension .pension_info .information p {
      font-size: 1.5rem;
      margin-top: 20px; } }

@media (max-width: 760px) {
  main .servicio-pension .pension_info {
    display: flex;
    flex-direction: column; }
    main .servicio-pension .pension_info .information {
      width: 90%; }
      main .servicio-pension .pension_info .information p {
        font-size: 1.2rem;
        margin-top: 20px; } }

@media (max-width: 480px) {
  main .servicio-pension .pension_info .servicios img {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover; } }

@media (max-width: 1024px) {
  .mainContact .container .form {
    width: 100%;
    padding: 30px; }
  .mainContact .contacto .cita {
    padding: 20px; }
    .mainContact .contacto .cita h2 {
      font-size: 3rem; }
    .mainContact .contacto .cita img {
      width: 80px; }
  .mainContact .contacto .ubicacion img {
    width: 300px; } }

@media (max-width: 480px) {
  .mainContact .container .form {
    width: 90%;
    padding: 20px; }
  .mainContact .contacto .cita {
    padding: 20px; }
    .mainContact .contacto .cita h2 {
      font-size: 2.5rem; }
    .mainContact .contacto .cita img {
      width: 60px; }
  .mainContact .contacto .ubicacion img {
    width: 250px; } }

footer .container-fluid .row {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: space-around;
  text-align: center;
  border-top: 1px solid #c8ced439;
  align-items: center;
  background-color: #f7fafd; }
  footer .container-fluid .row .footer-redes img {
    display: inline-block;
    width: 30px;
    margin: 7px; }
  footer .container-fluid .row .autor h5 {
    font-size: 1rem;
    color: #c8ced4;
    text-align: center;
    align-items: center;
    justify-content: center; }
