//Page Acerca de nosotros
main{
    .section{
        padding: 5px;
        .nosotros{
            display: flex;
            padding: 10px;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 780px;
            .descripcion{
                display: flex;
                flex-direction: column;
                width: 700px;
                p{
                    margin-top: 10px;
                    color:#1f8a9a;
                    text-align: justify;
                    line-height: 1.5; 
                }
            }
            .img-exp{
                width: 500px;
                height: 500px;
                margin-top: 50px;
                margin-right: 100px;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 15px 5px 5px rgba(255, 187, 1, 0.301);
            }
        }
    }
}