<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../assets/img/favicon.ico" />
    <title>Contacto</title>
  </head>
  <body>

    <div class="contenedor-contact">

    <header class="header">
      <div>
        <img class="logo" src="../assets/img/Logo.png" alt="Logo perro" />
      </div>
      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./nosotros.html">Acerca de nosotros</a></li>
        <li class="servicios">
          <a href="./servicios.html">Servicios</a>
          <ul class="lista-servicios">
            <li><a href="./corte.html">Corte</a></li>
            <li><a href="./baño.html">Baño</a></li>
            <li><a href="./pensión.html">Pensión</a></li>
          </ul>
        </li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </header>


    <main>
      
      <section class="contact">
        <h1>Contacto</h1>
      <div class="form">
        <form action="">
          
          <label for="">Nombre</label>
          <input type="text" placeholder="nombre">
          <label for="">Dirección</label>
          <input type="text" placeholder="dirección">
          <label for="">Teléfono</label>
          <input type="number" placeholder="teléfono">
          <label for="">Nombre mascota</label>
          <input type="text" placeholder="nombre mascota">
          <label for="">Raza</label>
          <input type="text" placeholder="raza">
          <label for="">Tamaño</label>
     <div class="container">  
      <input type="radio" name="tamanio" value="pequeña" />  
      <label for="">pequeña</label>
      <br>
      <input type="radio" name="tamanio" value="mediana" />
      <label for="">mediana</label>
      <br>
      <input type="radio" name="tamanio" value="grande" />
      <label for="">grande</label>
      <br>
         
      </div>

        <input class="btn" type="submit" value="Enviar">
        </form>
      </div>
    
      
  </section>
   
    </main>
  
    <section class="contacto">
      
      <div class="cita">
        <h2>!Agenda tu cita¡</h2>
        <img class="imgWa" src="../assets/img/Icon WA.png" alt="">
      </div>
      
      <div class="ubicacion">
        <h2>Ubicación</h2>  
        <img src="../assets/img/map.jpg" alt="">
      </div>
  
    </section>
  


    <footer class="footer">
      <div class="footer-redes">
        <img src="../assets/img/icons-fb.png" alt="facebook">
        <img src="../assets/img/icons-wpp.png" alt="whatsApp">
      </div>
        <div class="autor">
          <h5>Copyright 2022 JAV-DEP</h5>
        </div>
    </footer>

  </div>

  </body>
</html>
