<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../assets/img/favicon.ico" />
    <title>Acerca de nosotros</title>
  </head>

  <body>

    <header class="header">
      <div>
        <img class="logo" src="../assets/img/Logo.png" alt="Logo perro" />
      </div>

      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./nosotros.html">Acerca de nosotros</a></li>
        <li class="servicios">
          <a href="./servicios.html">Servicios</a>
          <ul class="lista-servicios">
            <li><a href="./corte.html">Corte</a></li>
            <li><a href="./baño.html">Baño</a></li>
            <li><a href="./pensión.html">Pensión</a></li>
          </ul>
        </li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </header>

    <main>
      <section class="section">
      <div class="nosotros">
        <div class="descripcion">
        <h1>¡Experencia y Calidad!</h1>
        <h3>Contamos con 20 años de experiencia en atención a mascotas</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur aliquid obcaecati debitis iure perspiciatis ducimus est, maiores quisquam excepturi, autem inventore ab fuga maxime explicabo cupiditate laborum modi pariatur? Omnis corporis autem recusandae odio dolore molestias, consequuntur quo ab natus similique eaque quis, sint repellat delectus libero dignissimos praesentium cumque quisquam velit numquam eius ut officia? Reiciendis minima illo harum consequatur nihil beatae laborum sit impedit aliquid a pariatur commodi, eligendi quas incidunt excepturi voluptatum ex nam qui. 

        </p>
      </div>
        <div>

          <img class="img-exp" src="../assets/img/peluquera.jpg" alt="" />
        </div>
      </div>
      </section>
    </main>


    <footer class="footer">
      <div class="footer-img">
        <img src="../assets/img/icons8-facebook-nuevo 1.png" alt="" />
        <img src="../assets/img/icons8-whatsapp 1.png" alt="" />
      </div>
      <h5>Copyright 2022 JAV-DEP</h5>
    </footer>
    
  </body>
</html>
