<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!-- Bootstrap -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

       <!-- CSS -->
             <link rel="stylesheet" href="../css/style.css" />
       
       <!-- Icons -->
             <link rel="icon" href="./assets/img/Huella.ico" />
    <title>Pensión</title>
</head>
<body>
     <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"> <img src="../assets/img/Logo.png" alt="Logo"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/nosotros.html">Acerca de nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="../views/servicios.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Servicios
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./views/corte.html">Corte</a></li>
                  <li><a class="dropdown-item" href="./views/baño.html">Baño</a></li>
                  <li><a class="dropdown-item" href="./views/pensión.html">Pensión</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
  </header>
    
  <main>
    <section class="servicio-pension">
      <h1>Pensión</h1>
      <h3>Los mejores instalaciones para los amigos de casa</h3>
      <div class="pension_info">
        <div class="servicios">
          <img src="../assets/img/Dog_pension.jpeg" alt="Pension perro" />
        </div>
        <div class="information">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, optio est iste vel tenetur rem voluptate amet impedit dolorum quam nisi nobis facere, voluptatum, atque itaque laboriosam? Dignissimos, libero minima?</p>
        </div>
      </div>
      </div>
    </section>
  </main>


  <!-- footer -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="footer col-12">
        <div class="footer-redes">
          <img src="../assets/img/Icon-fb.png" alt="facebook">
          <img src="../assets/img/Icon-wpp.png" alt="whatsApp">
        </div>
        <div class="autor">
          <h5>Copyright 2022 JAV-DEP</h5>
        </div>
      </div>
    </div>
  </div>
</footer>
  
</body>
</html>