<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../assets/img/favicon.ico" />
    <title>Servicios</title>
  </head>
  <body>
    <header class="header">
      <div>
        <img class="logo" src="../assets/img/Logo.png" alt="Logo perro" />
      </div>

      <ul class="menu">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./nosotros.html">Acerca de nosotros</a></li>
        <li class="servicios">
          <a href="./servicios.html">Servicios</a>
          <ul class="lista-servicios">
            <li><a href="./corte.html">Corte</a></li>
            <li><a href="./baño.html">Baño</a></li>
            <li><a href="./pensión.html">Pensión</a></li>
          </ul>
        </li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </header>

    <main>
      <section class="services">
        <h1>Servicios</h1>
        <div class="img-servicios">
          <div class="servicios">
            <h3><a href="./corte.html">Corte</a></h3>
            <img src="../assets/img/Corte.jpg" alt="Corte perro" />
          </div>
          <div class="servicios">
            <h3><a href="./baño.html">Baño</a></h3>
            <img src="../assets/img/Baño.jpg" alt="Corte perro" />
          </div>
          <div class="servicios">
            <h3><a href="./pensión.html">Pensión</a></h3>
            <img src="../assets/img/Pensión.jpeg" alt="Corte perro" />
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer-redes">
        <img src="../assets/img/icons-fb.png" alt="facebook">
        <img src="../assets/img/icons-wpp.png" alt="whatsApp">
      </div>
        <div class="autor">
          <h5>Copyright 2022 JAV-DEP</h5>
        </div>
    </footer>
    
  </body>
</html>
